body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#game-container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

#gameCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* #controls and button styles removed as they are no longer used. */

#score-container {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 10;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    color: #000;
}

#score, #highscore {
    font-size: 24px;
    margin-bottom: 5px; /* Add some space between the scores */
}
