body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#game-container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

#gameCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#controls {
    position: absolute;
    bottom: 20px;
    left: 20px; /* Sol alt köşe için */
    z-index: 10;
}

button {
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
}

#score {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #000;
    font-size: 24px;
    font-family: 'Arial', sans-serif;
    z-index: 10;
    font-weight: bold;
}
